development:
  browser_base_url: http://localhost:8080/#/
  browser_confirmation_endpoint: email-verified
test:
  browser_base_url: http://localhost:8080/#/
  browser_confirmation_endpoint: email-verified
